{# This macro requires an asset and a transform #}
{% macro image(asset, transform, class) %}
	{% if asset %}
		<img src="{{ asset.url(transform) }}"
			class="{{ class ? class }}"
			width="{{ transform ? transform.width|default('auto') }}"
			height="{{ transform ? transform.height|default('auto') }}"
			loading="lazy"
			style="object-position: {{ asset.focalPoint.x * 100 ~ '% ' ~ asset.focalPoint.y * 100 ~ '%;' }}"
			alt="{{ asset.alt }}" />
	{% endif %}
{% endmacro %}

{# This macro requires a URL and some button text #}
{% macro button(url, text, class, target) %}
	{% if url %}
		<a href="{{ url }}" {{ target ? 'target="_blank"' }} class="{{ class }}">{{ text }}</a>
	{% endif %}
{% endmacro %}

{# This macro uses Retcon to add Tailwind classes to Redactor fields #}
{% macro text(fieldHandle, classes) %}
	{{
		fieldHandle
			|retconAttr(
				'h1',
				{
					class: (classes|default('')) ~ ' h1'
				}
			)
			|retconAttr(
				'h2',
				{
					class: (classes|default('')) ~ ' h2'
				}
			)
			|retconAttr(
				'h3',
				{
					class: (classes|default('')) ~ ' h3'
				}
			)
			|retconAttr(
				'h4',
				{
					class: (classes|default('')) ~ ' h4'
				}
			)
			|retconAttr(
				'p',
				{
					class: (classes|default('')) ~ ' p'
				}
			)
			|retconAttr(
				'ul',
				{
					class: (classes|default('')) ~ ' list-disc pl-8 mb-4'
				}
			)
			|retconAttr(
				'ol',
				{
					class: (classes|default('')) ~ ' list-decimal pl-8'
				}
			)
			|retconAttr(
				'li',
				{
					class: (classes|default('')) ~ ' p pl-2 mb-1'
				}
			)
			|retconAttr(
				'blockquote',
				{
					class: (classes|default('')) ~ ' pl-4 mb-8 last:mb-0'
				}
			)
			|retconAttr(
				'strong',
				{
					class: 'font-bold'
				}
			)
			|retconAttr(
				'a',
				{
					class: 'underline focus:outline-none'
				}
			)
			|retconAttr(
				'table',
				{
					class: 'table-auto w-full border-t mb-10'
				}
			)
			|retconAttr(
				'table tr',
				{
					class: 'border-b border-l border-r'
				}
			)
			|retconAttr(
				'table td',
				{
					class: 'px-2 py-1 border-r'
				}
			)
	}}
{% endmacro %}
