{% import '_includes/macros' as macros %}

{% set cols = block.columns %}

{% switch cols|length %}
{% case 1 %}
	{% set containerClasses = 'grid-cols-1 lg:grid-cols-1 gap-8 2xl:w-2/3 mx-auto' %}
{% case 2 %}
	{% set containerClasses = 'grid-cols-1 lg:grid-cols-2 gap-8' %}
{% case 3 %}
	{% set containerClasses = 'grid-cols-1 lg:grid-cols-3 gap-8' %}
{% endswitch %}

<div class="container mx-auto px-4 3xl:px-8 py-5 lg:py-10">
	{% if block.heading %}
		<h2 class="text-center mb-10 text-xl">
			{{ block.heading }}
		</h2>
	{% endif %}
	<div class="grid {{ containerClasses }}">
		{% for col in cols.all() %}
			<div class="{{ not loop.last ? 'mb-5 lg:mb-0' }}">
				{{ macros.text(col.text) }}

				{% if col.button.url %}
					{{
						macros.button(
							col.button.url,
							col.button.text,
							'bg-blue inline-block text-white px-4 py-1 rounded text-center uppercase',
							col.button.target
						)
					}}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
